.locationImage {
    display: block;
    min-width: 200px;
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.locationInfo {
    padding: 2em;
}

.card {
    display: flex;
    flex-direction: column;
}

.cardBorder {
    border-bottom: 1px solid #F5F5F5;
}

.wrapper {
    display: flex;
    align-items: center;
}

.locationTitle {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 1em;
}

.path {
    width: 10px;
    height: 12px;
    margin-right: 0.2em;
}

.date {
    font-size: 0.8rem;
    font-weight: bold;
}

a {
    color: #918E9B;
    font-size: 0.8rem;
}

@media (min-width: 650px) {
    .card {
        flex-direction: row;
        padding: 2em;
        width: 90%;
        margin: 0 auto;
    }

    .locationInfo {
        padding: 1em 2em 2em 2em;
    }

    .locationImage {
        border-radius: 0.4em;
        max-width: 200px;
    }

    h2 {
        margin-top: 0;
    }
}