* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#root {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E5E5E5;
}

.container {
    max-width: 980px;
    width: 90%;
    background: white;
    margin: 2em 0;
}
